services:
  user.api:
    image: ${DOCKER_REGISTRY-}userapi
    container_name: user-api
    build:
      context: .
      dockerfile: src/BackEnd/Services/CrmSaSS/Api/User.Api/Dockerfile
    # ports:
    #   - "5000:5000"
    #   - "5001:5001"
